{% extends 'partials/common.twig' %}
{% block main %}
    <div class="panel">
        <img src="{{ url('img/400.jpg') }}" alt="one does not simply 400" title="one does not simply 400">
        </div>
{% endblock %}