{% extends 'partials/common.twig' %}
{% block main %}
  <div class="panel">
    <h2>About</h2>
    <p>Rebu is een uniek concept om taxi ritten te bestellen.</p>
    <p>Daarnaast is het ook een schoolproject gemaakt door echte toppers zoals: Downes Lukas, Van de Voorde Siebe en Van den Broeck Bert.</p>
  </div>
{% endblock %}
