{% extends "/partials/common.twig" %}
{% block main %}
<div class="panel">
    <h2>Log in</h2>
    <form action="php/login.php" method="post">
        <div class="form">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <input type="hidden" name="moduelAction" value="login">
        <button class="btn" type="submit">Log In</button>
    </form>
    <a href="php/register.php">Register here</a> if you don't have an account yet
</div>
{% endblock %}