{% extends "/partials/common.twig" %}
{% block main %}
    <div class="panel">
        <h2>Register</h2>
        <form action=".php" method="post" novalidate>
            <div class="form">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName" value="{{firstName}}" require>
                <p class="errorMsg">Hey dit is een error</p>
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName" value="{{lastName}}" require>
                <p class="errorMsg">Hey dit is een error</p>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="{{email}}" require>
                <p class="errorMsg">Hey dit is een error</p>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="{{password}}" require>
                <p class="errorMsg">Hey dit is een error</p>
                <input type="hidden" name="moduelAction" value="register">
            </div>
            <button class="btn" type="submit">Register</button>
        </form>
    </div>
{% endblock %}