{% extends 'partials/common.twig' %}
{% block main %}
  <div class="panel">
    <h2>Verificatie</h2>
    <p>{{ errorMsg }}</p>

    <form action="{{ url('') }}" method="post">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required {% if errors.password %}class="error"{% endif %}/>
      {% if errors.password %}
        <p class="errorMsg">{{ errors.password }}</p>
      {% endif %}
    </form>
  </div>
{% endblock %}
